<!-- Move/Copy destination modal -->
<div id="moveCopyModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="moveCopyModalTitle" class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p id="moveCopyModalBody">Select destination&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id='moveCopyModalOk' type="button" class="btn btn-primary">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="breadcrumb" style="padding-left:0px;padding-top:5px;padding-bottom:5px;">
  <div class="pull-right">
    <form>
      <div class="input-group" style="width: 400px;">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
         </span>
      </div><!-- /input-group -->
    </form>
  </div>
  <ol class="breadcrumb" style="height:100%;">
    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    {{#each pathElements}}
      {{#if this.link}}
        <li><a href = "{{this.link}}">{{this.name}}</a></li>
      {{else}}
        <li class = "active">{{this.name}}</li>
      {{/if}}
    {{/each}}
  </ol>
</div>

<table width="100%">
<tr>
  <td width="100%">
    <table id='filesTable' data-toggle="table" data-sort-name="name" data-sort-order="desc">
      <thead>
        <tr>
          <th data-field="state" data-checkbox="true"></th>
          <th data-field="name" data-sortable="true">Entry</th>
          <th data-field="date" data-sortable="true">Modified</th>
          <th data-field="size" data-sortable="true">Size</th></tr>
      </thead>
      <tbody>
      {{#each entries}}
        <tr data-path="{{@root.path}}/{{this.name}}" data-name="{{this.name}}" data-isfolder="{{#if this.folder}}true{{else}}false{{/if}}">
          <td></td>
          <td>
          {{#if this.folder}}
             <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
             <a href='{{@root.path}}/{{this.name}}'>{{this.name}}</a>
          {{else}}
             <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
             <a href='/download?file={{@root.path}}/{{this.name}}'>{{this.name}}</a>
          {{/if}}
          </td>
          <td><p>{{this.server_modified}}</p></td>
          <td><p>{{this.size}}</p></td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </td>
  <td style='padding:20px; vertical-align:top;'>
    <div>
      <button id="btnCreateFolder" type="button" class="btn btn-primary btn-sm btn-action" style="display: none;" onclick="doCreateFolder();"><span class="glyphicon glyphicon-plus"></span> Create Folder</button>
      <button id="btnUploadFile" type="button" class="btn btn-primary btn-sm btn-action" style="display: none;" onclick="doUploadFile();"><span class="glyphicon glyphicon-upload"></span> Upload File</button>
      <button id="btnRename" type="button" class="btn btn-primary btn-sm btn-action" style="display: none;" onclick="doRename();"><span class="glyphicon glyphicon-edit"></span> Rename</button>
      <button id="btnMove" type="button" class="btn btn-primary btn-sm btn-action" style="display: none;" onclick="doMove();"><span class="glyphicon glyphicon-share"></span> Move</button>
      <button id="btnCopy" type="button" class="btn btn-primary btn-sm btn-action" style="display: none;" onclick="doCopy();"><span class="glyphicon glyphicon-duplicate"></span> Copy</button>
      <button id="btnDelete" type="button" class="btn btn-primary btn-sm btn-action" style="display: none;" onclick="doDelete();"><span class="glyphicon glyphicon-trash"></span> Delete</button>
    </div>
  </td>
</tr>
</table>

<script>
    var token='{{token}}'
    var path='{{path}}'

    function selectionChanged () 
    {
        var selections = $('#filesTable').bootstrapTable('getSelections')
        console.log("Selection changed, selection count: " + selections.length)
        selections.forEach(function(element)
        {
            console.log("Selection: " + element._data.path)
        })

        if (selections.length == 0)
        {
            $('#btnCreateFolder').show()
            $('#btnUploadFile').show()
            $('#btnRename').hide()
            $('#btnMove').hide()
            $('#btnCopy').hide()
            $('#btnDelete').hide()
        }
        else if (selections.length == 1)
        {
            $('#btnCreateFolder').hide()
            $('#btnUploadFile').hide()
            $('#btnRename').show()
            $('#btnMove').show()
            $('#btnCopy').show()
            $('#btnDelete').show()
        }
        else
        {
            $('#btnCreateFolder').hide()
            $('#btnUploadFile').hide()
            $('#btnRename').hide()
            $('#btnMove').show()
            $('#btnCopy').show()
            $('#btnDelete').show()
        }
    }

    $('#filesTable').bootstrapTable(
    {
        onClickRow: function (row, $element, field) 
        {
            console.log("onClickRow:" + JSON.stringify(row))

            if (row.state && ($('#filesTable').bootstrapTable('getSelections').length === 1))
            {
                // A row click when the row is currently the only selected row should unselect the row
                //
                $('#filesTable').bootstrapTable('uncheck', $element.attr('data-index'))
            }
            else
            {
                // A row click any other time results in that row becoming the only selected row (cancelling any multi-select)
                //
                $('#filesTable').bootstrapTable('uncheckAll')
                $('#filesTable').bootstrapTable('check', $element.attr('data-index'))
                console.log("Selected item path: " + $element.attr('data-path'))
            }
        },
        onClickCell: function (field, value, row, element)
        {
            console.log("onClickCell:" + JSON.stringify(field))
        },
        onCheck: function (row, element)
        {
            console.log("onCheck")
            selectionChanged()
        },
        onUncheck: function (row, element)
        {
            console.log("onUncheck")
            selectionChanged()
        },
        onCheckAll: function (row, element)
        {
            console.log("onCheckAll")
            selectionChanged()
        },
        onUncheckAll: function (row, element)
        {
            console.log("onUncheckAll")
            selectionChanged()
        }
    })

    // Update initial command state
    //
    selectionChanged()

</script>